* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

body {
  --prussian-blue: #003153;
  --curPlayer-border-color: black;
  --border-radius: 5px;
  background-color: var(--prussian-blue);
  width: 100vw;
  height: 100vh;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.outline {
  color: white;
  text-shadow: 2px 2px 2px black, -2px -2px 2px black, 2px 0 2px black,
    -2px 0 2px black;
}

.outlineHover:hover {
  color: black;
  text-shadow: 2px 2px 2px white, -2px -2px 2px white, 2px 0 2px white,
    -2px 0 2px white;
}

.title {
  margin-top: 0.8em;
  font-size: 2em;
}

.menuButton {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: var(--border-radius);
  border: 2px solid black;
}

.menuButton:hover {
  border-color: white;
}

.menuBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: var(--prussian-blue);
}

.curPlayer {
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  top: 20px;
  font-size: 40px;
  font-weight: bold;
  text-shadow: -4px -4px 4px var(--curPlayer-border-color),
    0 -4px 4px var(--curPlayer-border-color),
    4px -4px 4px var(--curPlayer-border-color),
    4px 0 4px var(--curPlayer-border-color),
    4px 4px 4px var(--curPlayer-border-color),
    0 4px 4px var(--curPlayer-border-color),
    -4px 4px 4px var(--curPlayer-border-color),
    -4px 0 4px var(--curPlayer-border-color);
  transition: color 1s, text-shadow 1s;
  gap: 10px;
}
