* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

body {
  --prussian-blue: #003153;
  --curPlayer-border-color: black;
}

canvas {
  background-color: var(--prussian-blue);
}

.curPlayer {
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  top: 20px;
  font-size: 40px;
  font-weight: bold;
  text-shadow: -4px -4px 4px var(--curPlayer-border-color),
    0 -4px 4px var(--curPlayer-border-color),
    4px -4px 4px var(--curPlayer-border-color),
    4px 0 4px var(--curPlayer-border-color),
    4px 4px 4px var(--curPlayer-border-color),
    0 4px 4px var(--curPlayer-border-color),
    -4px 4px 4px var(--curPlayer-border-color),
    -4px 0 4px var(--curPlayer-border-color);
  transition: color 1s, text-shadow 1s;
}
